body {
    text-align: center;
    background-image: url('https://img.yugioh-card.com/en/images/bkg_slice_v1.jpg');
    font-family: 'Permanent Marker', cursive;
}

.info {
    text-color: #FF8C00 !important;
}

h1 {}

#imgcd {
    width: 40%;
    text-align: center;
}

p {
    font-size: 25px;
    color: black;
    font-weight: bold;
}
